<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
</head>

<body>
    <form action="/addsight" method="POST">
        species:<input type="text" name="species" placeholder="species">
        <br>
        date-time:<input type="datetime" name="datetime" placeholder="date-time">
        <br>
        location:<input type="text" name="location" placeholder="location">
        <br>
        <button type="submit">submit</button>
    </form>

</body>

</html>